.button {
    color: white;
    background-color: brown;
    width: 200px;
    padding: 10px;
    border: none;
    outline: none;
    margin: 10px 0;
}

.questionMark {
    flex: 1;
    display: inherit;
    background-color: #bdc3c7;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.inputField {
    flex: 8;
    border: none;
    outline: none;
    padding-left: 10px;
}

.formContainer {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.fieldWrapper {
    width: 500px;
    height: 30px;
    display: inherit;
    padding: 5;
    border: 0.5px solid #000;
    border-radius: 5px;
    margin: 10px 0;
}