.customSelect {
    width: 200px;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #dfe6e9;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    border: 0.5px solid grey;
    border-radius: 5px;
}